@import "tailwindcss";

:root {
    --orange: hsl(22, 65%, 57%);
    --light-orange: hsl(21, 94%, 75%);
    --ash: hsl(0, 0%, 95%);
    --light-white: hsl(0, 0%, 98%);
    --light-black: hsl(0, 0%, 6%);
}

@theme inline {
    --font-manrope: var(--font-manrope);
    --color-orange: var(--orange);
    --color-light-orange: var(--light-orange);
    --color-ash: var(--ash);
    --color-light-white: var(--light-white);
    --color-light-black: var(--light-black);
}

body {
    font-family: var(--font-manrope);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
